body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 14x;
    background-color: #262626;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
}

.container {
    width: 1170px;
    /*позиционирование по центру*/
    margin: 0 auto;
}

.header {
    background: url("/img/Back-bg-2.jpg") no-repeat center top / cover;
    padding-top: 1px;
}

header a {
    color: #fff;
}

.logo {
    margin-right: 69px;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li {
    margin: 40px;
}

.nav {
    display: flex;
    align-items: center;
}

#btn1 {
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

#btn {
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    margin-left: 865px;
}

h2 {
    color: #fff;
}

h3 {
    color: #C4C4C4;
}

h4 {
    color: #C4C4C4;
}

h1 {
    color: #fff;
}

.T {
    width: 500px;
    padding-top: 50px;
    margin-left: 710px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}

#Text {
    padding-top: 40px;
    text-align: center;
}

#page {
    padding-top: 10px;
    text-align: center;
}

#version {
    padding-top: 10px;
    text-align: center;
}

#BVB {
    padding-top: 50px;
    text-align: center;
}

.page {
    display: flex;
}

.page li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #fff;
}

.page li {
    margin: 50px;
    margin-right: 215px;
    color: #fff;
}

.text {
  position: relative;
  z-index: 2;
}

.text {
  position: relative;
  z-index: 2;
}

.text {
  position: relative;
  z-index: 2;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: 0.35s;
}

.btn.first {
}

.btn.first:hover {
  background-color: white;
  color: #000;
}

a {
    font-size: 50px;
}

.YouTube {
    margin: 900px;
    margin-right: 215px;
    color: #fff;
}